
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">News</span>
    <ul class="nav navbar-expand-lg navbar-dark bg-dark">
      <li class="nav-item">
        <a class="nav-link" routerLink="/egypte-news" style="color: #e3f2fd;">Egypte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/usa-news" style="color: #e3f2fd;">Usa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="color: #b4b7b9;">Next</a>
      </li>

    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
  </div>
</nav>